section{
    display: flex;
    align-items:center;
    justify-content: center;

    height: 90vh;
}

.TableOverview{
    font-size: 25px;
    Border: 5px solid black;
    background-color: #fe9a03;

    width: 65vw;
    height: 35vh;

    margin: auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.TableOverview a{
    Color: black;
    line-height: 50px;
    text-align: center;
    padding: 20px;

  
}
.TableOverview a:hover{
    Color: blue;
}


